/* .todo__layout {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
} */
/* 
.todo__layout-header {
  background-color: blueviolet;
} */

/* .todo__layout-conteiner {
  display: grid;
  grid-template-columns: 20% 80%;
} */

/* .todo__layout-contaier_main {
} */
